In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("C:\\Users\sriveera\Documents\hospitals_data.csv")

In [13]:
df.head()

,region,region_code,period,atleast_one_measure,immunization_measure,reportable_lab_results_measure,syndromic_surveillance_measure,registry_measure,stage_2_hospitals_all_measures,stage_1_hospitals_all_measures
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,NaN,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,NaN,1.00,0.00

In [14]:
df.columns

Index(['region', 'region_code', 'period', 'atleast_one_measure',
       'immunization_measure', 'reportable_lab_results_measure',
       'syndromic_surveillance_measure', 'registry_measure',
       'stage_2_hospitals_all_measures', 'stage_1_hospitals_all_measures'],
      dtype='object')

In [15]:
 df.columns.str.upper()

Index(['REGION', 'REGION_CODE', 'PERIOD', 'ATLEAST_ONE_MEASURE',
       'IMMUNIZATION_MEASURE', 'REPORTABLE_LAB_RESULTS_MEASURE',
       'SYNDROMIC_SURVEILLANCE_MEASURE', 'REGISTRY_MEASURE',
       'STAGE_2_HOSPITALS_ALL_MEASURES', 'STAGE_1_HOSPITALS_ALL_MEASURES'],
      dtype='object')

In [16]:

df.rename(columns={'ATLEAST_ONE_MEASURE':'ONE MEASURE','IMMUNIZATION_MEASURE':'IMMUNIZATION','REPORTABLE_LAB_RESULTS_MEASURE':'LAB RESULTS','SYNDROMIC_SURVEILLANCE_MEASURE':'SYNDROMIC SURVEILLANCE','REGISTRY_MEASURE':'REGISTRY','STAGE_2_HOSPITALS_ALL_MEASURES':'STAGE 2 MEASURES','STAGE_1_HOSPITALS_ALL_MEASURES':'STAGE 1 MEASURES'},inplace=True)

In [20]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,NaN,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,NaN,1.00,0.00

In [21]:
df.isnull().sum()

REGION                      0
REGION_CODE                 0
PERIOD                      0
ONE MEASURE                52
IMMUNIZATION                0
LAB RESULTS                 0
SYNDROMIC SURVEILLANCE      0
REGISTRY                  104
STAGE 2 MEASURES           52
STAGE 1 MEASURES           52
dtype: int64

In [24]:
df.isnull().any()

REGION                    False
REGION_CODE               False
PERIOD                    False
ONE MEASURE                True
IMMUNIZATION              False
LAB RESULTS               False
SYNDROMIC SURVEILLANCE    False
REGISTRY                   True
STAGE 2 MEASURES           True
STAGE 1 MEASURES           True
dtype: bool

In [26]:
df.isnull().any().any()

True

In [27]:
df.isnull().sum()

REGION                      0
REGION_CODE                 0
PERIOD                      0
ONE MEASURE                52
IMMUNIZATION                0
LAB RESULTS                 0
SYNDROMIC SURVEILLANCE      0
REGISTRY                  104
STAGE 2 MEASURES           52
STAGE 1 MEASURES           52
dtype: int64

In [28]:
df.isnull().sum().sum()

260

In [29]:
df

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,NaN,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,NaN,1.00,0.00
5,Alaska,AK,2015,NaN,0.92,0.92,0.92,0.00,NaN,NaN
6,Arizona,AZ,2013,0.93,0.80,0.19,0.05,NaN,0.00,0.00
7,Arizona,AZ,2014,0.84,0.80,0.51,0.48,NaN,0.93,0.05
8,Arizona,AZ,2015,NaN,0.98,0.92,0.91,0.02,NaN,NaN
9,Arkansas,AR,2013,0.76,0.65,0.13,0.15,NaN,0.00,0.00
10,Arkansas,AR,2014,0.94,0.78,0.48,0.59,NaN,0.91,0.00
11,Arkansas,AR,2015,NaN,1.00,0.97,0.97,0.02,NaN,NaN
12,California,CA,2013,0.82,0.45,0.14,0.33,NaN,0.00,0.00
13,California,CA,2014,0.89,0.85,0.52,0.38,NaN,0.70,0.05
14,California,CA,2015,NaN,0.96,0.91,0.47,0.06,NaN,NaN
15,Colorado,CO,2013,0.73,0.87,0.07,0.01,NaN,0.00,0.00
16,Colorado,CO,2014,0.42,0.60,0.48,0.21,NaN,0.41,0.00
17,Colorado,CO,2015,NaN,0.93,0.87,0.36,0.21,NaN,NaN
18,Connecticut,CT,2013,0.34,0.31,0.20,0.09,NaN,0.00,0.00
19,Connecticut,CT,2014,0.60,0.18,0.00,0.00,NaN,0.29,0.00
20,Connecticut,CT,2015,NaN,0.65,0.00,0.00,0.00,NaN,NaN
21,Delaware,DE,2013,1.00,0.50,0.25,0.50,NaN,0.00,0.00
22,Delaware,DE,2014,1.00,0.60,0.60,0.20,NaN,1.00,0.00
23,Delaware,DE,2015,NaN,1.00,1.00,0.40,0.00,NaN,NaN
24,District Of Columbia,DC,2013,0.71,0.20,0.43,0.29,NaN,0.00,0.00
25,District Of Columbia,DC,2014,1.00,0.20,0.00,0.80,NaN,0.00,0.00
26,District Of Columbia,DC,2015,NaN,0.86,1.00,1.00,0.00,NaN,NaN
27,Florida,FL,2013,0.94,0.64,0.11,0.29,NaN,0.00,0.00
28,Florida,FL,2014,0.96,0.90,0.63,0.64,NaN,0.96,0.00
29,Florida,FL,2015,NaN,0.98,0.97,0.98,0.02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
126,South Dakota,SD,2013,0.92,0.91,0.02,0.06,NaN,0.00,0.00
127,South Dakota,SD,2014,0.65,0.71,0.55,0.40,NaN,0.58,0.10
128,South Dakota,SD,2015,NaN,0.88,0.82,0.80,0.00,NaN,NaN
129,Tennessee,TN,2013,0.93,0.64,0.33,0.02,NaN,0.00,0.00
130,Tennessee,TN,2014,0.77,0.79,0.42,0.09,NaN,0.21,0.00
131,Tennessee,TN,2015,NaN,1.00,0.93,0.51,0.00,NaN,NaN
132,Texas,TX,2013,0.90,0.55,0.28,0.16,NaN,0.00,0.00
133,Texas,TX,2014,0.89,0.83,0.40,0.34,NaN,0.69,0.03
134,Texas,TX,2015,NaN,0.98,0.81,0.59,0.04,NaN,NaN
135,Utah,UT,2013,1.00,1.00,0.00,0.00,NaN,0.00,0.00
136,Utah,UT,2014,1.00,0.85,0.13,0.28,NaN,1.00,0.00
137,Utah,UT,2015,NaN,1.00,1.00,0.92,0.00,NaN,NaN
138,Vermont,VT,2013,0.43,0.38,0.18,0.05,NaN,0.00,0.00
139,Vermont,VT,2014,0.83,1.00,0.50,0.50,NaN,1.00,0.17
140,Vermont,VT,2015,NaN,1.00,0.93,1.00,0.00,NaN,NaN
141,Virginia,VA,2013,0.95,0.90,0.05,0.20,NaN,0.00,0.00
142,Virginia,VA,2014,0.77,0.78,0.52,0.69,NaN,0.81,0.20
143,Virginia,VA,2015,NaN,1.00,0.91,1.00,0.00,NaN,NaN
144,Washington,WA,2013,0.96,0.49,0.46,0.43,NaN,0.00,0.00
145,Washington,WA,2014,0.91,0.87,0.55,0.46,NaN,0.86,0.00
146,Washington,WA,2015,NaN,0.99,0.86,0.96,0.04,NaN,NaN
147,West Virginia,WV,2013,0.83,0.89,0.02,0.02,NaN,0.00,0.00
148,West Virginia,WV,2014,0.88,0.77,0.28,0.56,NaN,0.67,0.00
149,West Virginia,WV,2015,NaN,1.00,0.88,0.98,0.05,NaN,NaN
150,Wisconsin,WI,2013,0.95,0.75,0.04,0.29,NaN,0.00,0.00
151,Wisconsin,WI,2014,0.96,0.73,0.52,0.60,NaN,0.84,0.00
152,Wisconsin,WI,2015,NaN,1.00,0.81,0.96,0.10,NaN,NaN
153,Wyoming,WY,2013,0.20,0.50,0.00,0.07,NaN,0.00,0.00
154,Wyoming,WY,2014,0.95,0.31,0.15,0.81,NaN,0.60,0.00
155,Wyoming,WY,2015,NaN,0.96,0.68,0.92,0.08,NaN,NaN

In [30]:
df.describe()

,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
count,156.000000,104.000000,156.000000,156.000000,156.000000,52.000000,104.000000,104.00000
mean,2014.000000,0.841346,0.735256,0.491218,0.492564,0.035769,0.348558,0.02500
std,0.819126,0.149874,0.242961,0.322775,0.334475,0.046118,0.403036,0.05169
min,2013.000000,0.200000,0.050000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2013.000000,0.800000,0.597500,0.187500,0.185000,0.000000,0.000000,0.00000
50%,2014.000000,0.900000,0.790000,0.465000,0.475000,0.025000,0.000000,0.00000
75%,2015.000000,0.930000,0.950000,0.840000,0.802500,0.040000,0.757500,0.03250
max,2015.000000,1.000000,1.000000,1.000000,1.000000,0.210000,1.000000,0.30000

In [31]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,NaN,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,NaN,1.00,0.00

In [36]:
df.fillna(0)

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,0.00,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,0.00,0.96,0.17
2,Alabama,AL,2015,0.00,0.96,0.93,0.97,0.04,0.00,0.00
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,0.00,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,0.00,1.00,0.00
5,Alaska,AK,2015,0.00,0.92,0.92,0.92,0.00,0.00,0.00
6,Arizona,AZ,2013,0.93,0.80,0.19,0.05,0.00,0.00,0.00
7,Arizona,AZ,2014,0.84,0.80,0.51,0.48,0.00,0.93,0.05
8,Arizona,AZ,2015,0.00,0.98,0.92,0.91,0.02,0.00,0.00
9,Arkansas,AR,2013,0.76,0.65,0.13,0.15,0.00,0.00,0.00
10,Arkansas,AR,2014,0.94,0.78,0.48,0.59,0.00,0.91,0.00
11,Arkansas,AR,2015,0.00,1.00,0.97,0.97,0.02,0.00,0.00
12,California,CA,2013,0.82,0.45,0.14,0.33,0.00,0.00,0.00
13,California,CA,2014,0.89,0.85,0.52,0.38,0.00,0.70,0.05
14,California,CA,2015,0.00,0.96,0.91,0.47,0.06,0.00,0.00
15,Colorado,CO,2013,0.73,0.87,0.07,0.01,0.00,0.00,0.00
16,Colorado,CO,2014,0.42,0.60,0.48,0.21,0.00,0.41,0.00
17,Colorado,CO,2015,0.00,0.93,0.87,0.36,0.21,0.00,0.00
18,Connecticut,CT,2013,0.34,0.31,0.20,0.09,0.00,0.00,0.00
19,Connecticut,CT,2014,0.60,0.18,0.00,0.00,0.00,0.29,0.00
20,Connecticut,CT,2015,0.00,0.65,0.00,0.00,0.00,0.00,0.00
21,Delaware,DE,2013,1.00,0.50,0.25,0.50,0.00,0.00,0.00
22,Delaware,DE,2014,1.00,0.60,0.60,0.20,0.00,1.00,0.00
23,Delaware,DE,2015,0.00,1.00,1.00,0.40,0.00,0.00,0.00
24,District Of Columbia,DC,2013,0.71,0.20,0.43,0.29,0.00,0.00,0.00
25,District Of Columbia,DC,2014,1.00,0.20,0.00,0.80,0.00,0.00,0.00
26,District Of Columbia,DC,2015,0.00,0.86,1.00,1.00,0.00,0.00,0.00
27,Florida,FL,2013,0.94,0.64,0.11,0.29,0.00,0.00,0.00
28,Florida,FL,2014,0.96,0.90,0.63,0.64,0.00,0.96,0.00
29,Florida,FL,2015,0.00,0.98,0.97,0.98,0.02,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
126,South Dakota,SD,2013,0.92,0.91,0.02,0.06,0.00,0.00,0.00
127,South Dakota,SD,2014,0.65,0.71,0.55,0.40,0.00,0.58,0.10
128,South Dakota,SD,2015,0.00,0.88,0.82,0.80,0.00,0.00,0.00
129,Tennessee,TN,2013,0.93,0.64,0.33,0.02,0.00,0.00,0.00
130,Tennessee,TN,2014,0.77,0.79,0.42,0.09,0.00,0.21,0.00
131,Tennessee,TN,2015,0.00,1.00,0.93,0.51,0.00,0.00,0.00
132,Texas,TX,2013,0.90,0.55,0.28,0.16,0.00,0.00,0.00
133,Texas,TX,2014,0.89,0.83,0.40,0.34,0.00,0.69,0.03
134,Texas,TX,2015,0.00,0.98,0.81,0.59,0.04,0.00,0.00
135,Utah,UT,2013,1.00,1.00,0.00,0.00,0.00,0.00,0.00
136,Utah,UT,2014,1.00,0.85,0.13,0.28,0.00,1.00,0.00
137,Utah,UT,2015,0.00,1.00,1.00,0.92,0.00,0.00,0.00
138,Vermont,VT,2013,0.43,0.38,0.18,0.05,0.00,0.00,0.00
139,Vermont,VT,2014,0.83,1.00,0.50,0.50,0.00,1.00,0.17
140,Vermont,VT,2015,0.00,1.00,0.93,1.00,0.00,0.00,0.00
141,Virginia,VA,2013,0.95,0.90,0.05,0.20,0.00,0.00,0.00
142,Virginia,VA,2014,0.77,0.78,0.52,0.69,0.00,0.81,0.20
143,Virginia,VA,2015,0.00,1.00,0.91,1.00,0.00,0.00,0.00
144,Washington,WA,2013,0.96,0.49,0.46,0.43,0.00,0.00,0.00
145,Washington,WA,2014,0.91,0.87,0.55,0.46,0.00,0.86,0.00
146,Washington,WA,2015,0.00,0.99,0.86,0.96,0.04,0.00,0.00
147,West Virginia,WV,2013,0.83,0.89,0.02,0.02,0.00,0.00,0.00
148,West Virginia,WV,2014,0.88,0.77,0.28,0.56,0.00,0.67,0.00
149,West Virginia,WV,2015,0.00,1.00,0.88,0.98,0.05,0.00,0.00
150,Wisconsin,WI,2013,0.95,0.75,0.04,0.29,0.00,0.00,0.00
151,Wisconsin,WI,2014,0.96,0.73,0.52,0.60,0.00,0.84,0.00
152,Wisconsin,WI,2015,0.00,1.00,0.81,0.96,0.10,0.00,0.00
153,Wyoming,WY,2013,0.20,0.50,0.00,0.07,0.00,0.00,0.00
154,Wyoming,WY,2014,0.95,0.31,0.15,0.81,0.00,0.60,0.00
155,Wyoming,WY,2015,0.00,0.96,0.68,0.92,0.08,0.00,0.00

In [37]:
df['ONE MEASURE'].fillna((df['ONE MEASURE'].mean()),inplace=True)

In [38]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.900000,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.900000,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,0.841346,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.000000,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.890000,0.92,0.31,0.31,NaN,1.00,0.00

In [39]:
df['REGISTRY'].fillna((df['REGISTRY'].mean()),inplace=True)

In [40]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.900000,0.73,0.10,0.16,0.035769,0.00,0.00
1,Alabama,AL,2014,0.900000,0.84,0.41,0.50,0.035769,0.96,0.17
2,Alabama,AL,2015,0.841346,0.96,0.93,0.97,0.040000,NaN,NaN
3,Alaska,AK,2013,1.000000,0.93,0.07,0.00,0.035769,0.00,0.00
4,Alaska,AK,2014,0.890000,0.92,0.31,0.31,0.035769,1.00,0.00

In [41]:
df['STAGE 2 MEASURES'].fillna((df['STAGE 2 MEASURES'].mean()),inplace=True)

In [42]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.900000,0.73,0.10,0.16,0.035769,0.000000,0.00
1,Alabama,AL,2014,0.900000,0.84,0.41,0.50,0.035769,0.960000,0.17
2,Alabama,AL,2015,0.841346,0.96,0.93,0.97,0.040000,0.348558,NaN
3,Alaska,AK,2013,1.000000,0.93,0.07,0.00,0.035769,0.000000,0.00
4,Alaska,AK,2014,0.890000,0.92,0.31,0.31,0.035769,1.000000,0.00

In [43]:
df['STAGE 1 MEASURES'].fillna((df['STAGE 1 MEASURES'].mean()),inplace=True)

In [44]:
df.head()

,REGION,REGION_CODE,PERIOD,ONE MEASURE,IMMUNIZATION,LAB RESULTS,SYNDROMIC SURVEILLANCE,REGISTRY,STAGE 2 MEASURES,STAGE 1 MEASURES
0,Alabama,AL,2013,0.900000,0.73,0.10,0.16,0.035769,0.000000,0.000
1,Alabama,AL,2014,0.900000,0.84,0.41,0.50,0.035769,0.960000,0.170
2,Alabama,AL,2015,0.841346,0.96,0.93,0.97,0.040000,0.348558,0.025
3,Alaska,AK,2013,1.000000,0.93,0.07,0.00,0.035769,0.000000,0.000
4,Alaska,AK,2014,0.890000,0.92,0.31,0.31,0.035769,1.000000,0.000

In [17]:
df.shape

(156, 10)

In [18]:
df

,region,region_code,period,atleast_one_measure,immunization_measure,reportable_lab_results_measure,syndromic_surveillance_measure,registry_measure,stage_2_hospitals_all_measures,stage_1_hospitals_all_measures
0,Alabama,AL,2013,0.90,0.73,0.10,0.16,NaN,0.00,0.00
1,Alabama,AL,2014,0.90,0.84,0.41,0.50,NaN,0.96,0.17
2,Alabama,AL,2015,NaN,0.96,0.93,0.97,0.04,NaN,NaN
3,Alaska,AK,2013,1.00,0.93,0.07,0.00,NaN,0.00,0.00
4,Alaska,AK,2014,0.89,0.92,0.31,0.31,NaN,1.00,0.00
5,Alaska,AK,2015,NaN,0.92,0.92,0.92,0.00,NaN,NaN
6,Arizona,AZ,2013,0.93,0.80,0.19,0.05,NaN,0.00,0.00
7,Arizona,AZ,2014,0.84,0.80,0.51,0.48,NaN,0.93,0.05
8,Arizona,AZ,2015,NaN,0.98,0.92,0.91,0.02,NaN,NaN
9,Arkansas,AR,2013,0.76,0.65,0.13,0.15,NaN,0.00,0.00
10,Arkansas,AR,2014,0.94,0.78,0.48,0.59,NaN,0.91,0.00
11,Arkansas,AR,2015,NaN,1.00,0.97,0.97,0.02,NaN,NaN
12,California,CA,2013,0.82,0.45,0.14,0.33,NaN,0.00,0.00
13,California,CA,2014,0.89,0.85,0.52,0.38,NaN,0.70,0.05
14,California,CA,2015,NaN,0.96,0.91,0.47,0.06,NaN,NaN
15,Colorado,CO,2013,0.73,0.87,0.07,0.01,NaN,0.00,0.00
16,Colorado,CO,2014,0.42,0.60,0.48,0.21,NaN,0.41,0.00
17,Colorado,CO,2015,NaN,0.93,0.87,0.36,0.21,NaN,NaN
18,Connecticut,CT,2013,0.34,0.31,0.20,0.09,NaN,0.00,0.00
19,Connecticut,CT,2014,0.60,0.18,0.00,0.00,NaN,0.29,0.00
20,Connecticut,CT,2015,NaN,0.65,0.00,0.00,0.00,NaN,NaN
21,Delaware,DE,2013,1.00,0.50,0.25,0.50,NaN,0.00,0.00
22,Delaware,DE,2014,1.00,0.60,0.60,0.20,NaN,1.00,0.00
23,Delaware,DE,2015,NaN,1.00,1.00,0.40,0.00,NaN,NaN
24,District Of Columbia,DC,2013,0.71,0.20,0.43,0.29,NaN,0.00,0.00
25,District Of Columbia,DC,2014,1.00,0.20,0.00,0.80,NaN,0.00,0.00
26,District Of Columbia,DC,2015,NaN,0.86,1.00,1.00,0.00,NaN,NaN
27,Florida,FL,2013,0.94,0.64,0.11,0.29,NaN,0.00,0.00
28,Florida,FL,2014,0.96,0.90,0.63,0.64,NaN,0.96,0.00
29,Florida,FL,2015,NaN,0.98,0.97,0.98,0.02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
126,South Dakota,SD,2013,0.92,0.91,0.02,0.06,NaN,0.00,0.00
127,South Dakota,SD,2014,0.65,0.71,0.55,0.40,NaN,0.58,0.10
128,South Dakota,SD,2015,NaN,0.88,0.82,0.80,0.00,NaN,NaN
129,Tennessee,TN,2013,0.93,0.64,0.33,0.02,NaN,0.00,0.00
130,Tennessee,TN,2014,0.77,0.79,0.42,0.09,NaN,0.21,0.00
131,Tennessee,TN,2015,NaN,1.00,0.93,0.51,0.00,NaN,NaN
132,Texas,TX,2013,0.90,0.55,0.28,0.16,NaN,0.00,0.00
133,Texas,TX,2014,0.89,0.83,0.40,0.34,NaN,0.69,0.03
134,Texas,TX,2015,NaN,0.98,0.81,0.59,0.04,NaN,NaN
135,Utah,UT,2013,1.00,1.00,0.00,0.00,NaN,0.00,0.00
136,Utah,UT,2014,1.00,0.85,0.13,0.28,NaN,1.00,0.00
137,Utah,UT,2015,NaN,1.00,1.00,0.92,0.00,NaN,NaN
138,Vermont,VT,2013,0.43,0.38,0.18,0.05,NaN,0.00,0.00
139,Vermont,VT,2014,0.83,1.00,0.50,0.50,NaN,1.00,0.17
140,Vermont,VT,2015,NaN,1.00,0.93,1.00,0.00,NaN,NaN
141,Virginia,VA,2013,0.95,0.90,0.05,0.20,NaN,0.00,0.00
142,Virginia,VA,2014,0.77,0.78,0.52,0.69,NaN,0.81,0.20
143,Virginia,VA,2015,NaN,1.00,0.91,1.00,0.00,NaN,NaN
144,Washington,WA,2013,0.96,0.49,0.46,0.43,NaN,0.00,0.00
145,Washington,WA,2014,0.91,0.87,0.55,0.46,NaN,0.86,0.00
146,Washington,WA,2015,NaN,0.99,0.86,0.96,0.04,NaN,NaN
147,West Virginia,WV,2013,0.83,0.89,0.02,0.02,NaN,0.00,0.00
148,West Virginia,WV,2014,0.88,0.77,0.28,0.56,NaN,0.67,0.00
149,West Virginia,WV,2015,NaN,1.00,0.88,0.98,0.05,NaN,NaN
150,Wisconsin,WI,2013,0.95,0.75,0.04,0.29,NaN,0.00,0.00
151,Wisconsin,WI,2014,0.96,0.73,0.52,0.60,NaN,0.84,0.00
152,Wisconsin,WI,2015,NaN,1.00,0.81,0.96,0.10,NaN,NaN
153,Wyoming,WY,2013,0.20,0.50,0.00,0.07,NaN,0.00,0.00
154,Wyoming,WY,2014,0.95,0.31,0.15,0.81,NaN,0.60,0.00
155,Wyoming,WY,2015,NaN,0.96,0.68,0.92,0.08,NaN,NaN